---

const myDescription = `Hello! I'm Giovanny Kelly, a civil engineer based in Illinois. I graduated from the National University of Colombia in 2021. My journey into programming started as a hobby, and over time, I realized how coding could significantly enhance everyday tasks, from automating routine processes to developing comprehensive web applications.\n

With a solid foundation in civil engineering and a growing passion for software development, I have worked on various projects that bridge these fields. My expertise includes Python, JavaScript, Swift, HTML, and CSS, as well as backend frameworks and libraries such as Django and FastAPI. For frontend development, I am proficient in React, Tailwind, and Astro. I enjoy problem-solving and continuously learning about new technologies and tools.

I am enthusiastic about combining my engineering background with my programming skills to create innovative solutions. When I'm not coding, you can find me exploring new technologies, reading about advancements in software development, or working on personal projects.

Feel free to check out my portfolio and GitHub for a closer look at my projects. I'm always open to new opportunities and collaborations.`

import { Image } from 'astro:assets';
import Gio from '../images/Gio.png';
---

<section id="about">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <h2 class="text-center w-full lg:w-full mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">About Me</h2>
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="flex flex-col gap-9 text-start py-12 ">
            <p class="dark:text-white text-xl">Hello! I'm Giovanny Kelly, a civil engineer based in Illinois. I graduated from the National University of Colombia in 2021. My journey into programming started as a hobby, and over time, I realized how coding could significantly enhance everyday tasks, from automating routine processes to developing comprehensive web applications.</p>
            <p class="dark:text-white text-xl">With a solid foundation in civil engineering and a growing passion for software development, I have worked on various projects that bridge these fields. My expertise includes Python, JavaScript, Swift, HTML, and CSS, as well as backend frameworks and libraries such as Django and FastAPI. For frontend development, I am proficient in React, Tailwind, and Astro. I enjoy problem-solving and continuously learning about new technologies and tools.</p>
            <p class="dark:text-white text-xl">I am enthusiastic about combining my engineering background with my programming skills to create innovative solutions. When I'm not coding, you can find me exploring new technologies, reading about advancements in software development, or working on personal projects.</p>
            <p class="dark:text-white text-xl">Feel free to check out my portfolio and GitHub for a closer look at my projects. I'm always open to new opportunities and collaborations.</p>
            </div>
            <Image class="hidden md:block bg-stone-300 w-96 m-auto rounded-full" src={Gio} alt='my picture.'/>

        </div>
    </div>

</section>