---
import ProjectCard from "./ProjectCard.astro"
import { Image } from "astro:assets"
import Codexme from "../images/Codexme.webp"
import Localxdeal from "../images/Localxdeal.webp"
---

<section id="projects" class="">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="text-center mx-auto items-end max-w-screen-md mb-8 lg:mb-16 ml-auto">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Projects</h2>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400">Here are my featured projects</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 ">
    <ProjectCard  href = "https://localxdeal.com" src={Localxdeal} alt="localx deal main page" title = "LocalXDeal" description = "Web ecommerce app made in Django, This website is a project aimed at highlighting the products and services of a small local business The website serves as a digital storefront, providing an online platform for the business to display its current stock and offerings. Designed with simplicity and elegance in mind, the website showcases the unique identity and offerings of the local business, allowing visitors to explore its products or services from the comfort of their own homes."/>
    <ProjectCard  href = "https://codexme.reflex.run" src={Codexme} alt="codexme main page" title = "CodeXme" description = "CodeXme its a web platform that allows to run code for learning and challenges, allowing learning resources for people around the world."/>
    </div>
    </div>
</section>